#Credentials for Strava API
authorization_token=<Your Strava Authorization Token>
client_id=<The Client ID for Your API Application>
client_secret=<The Client Secret for Your API Application>
refresh_token=<The Refresh Token for your API Access>